In [17]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("InputData/MHRemoteData.csv")
df.head()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

In [21]:
df['Stress_Level'] = df['Stress_Level'].replace({"Low": 1, "Medium": 5, "High": 10}, inplace=True)

C:\Users\rossd\AppData\Local\Temp\ipykernel_5024\2476072740.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Stress_Level'] = df['Stress_Level'].replace({"Low": 1, "Medium": 5, "High": 10}, inplace=True)
C:\Users\rossd\AppData\Local\Temp\ipykernel_5024\2476072740.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Stress_Level'] = df['Stress_Level'].replace({"Low": 1, "Medium": 5, "High": 10}, inplace=True)

In [23]:
df['Physical_Activity'] = df['Physical_Activity'].replace({"Weekly": 1, "Daily": 7, "NaN": 0, "None": 0}, inplace=True)

C:\Users\rossd\AppData\Local\Temp\ipykernel_5024\697870833.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Physical_Activity'] = df['Physical_Activity'].replace({"Weekly": 1, "Daily": 7, "NaN": 0, "None": 0}, inplace=True)
C:\Users\rossd\AppData\Local\Temp\ipykernel_5024\697870833.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Physical_Activity'] = df['Physical_Activity'].replace({"Weekly": 1, "Daily": 7, "NaN": 0, "None": 0}, inplace=True)

In [25]:
MHRemoteReduced = df[["Employee_ID","Gender", "Age", "Job_Role", "Industry", "Years_of_Experience", "Work_Location", 
                               "Hours_Worked_Per_Week","Work_Life_Balance_Rating","Stress_Level", "Mental_Health_Condition", 
                               "Satisfaction_with_Remote_Work","Physical_Activity","Sleep_Quality","Region"]]

In [29]:
MHRemoteReduced.head()

,Employee_ID,Gender,Age,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Satisfaction_with_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,Non-binary,32,HR,Healthcare,13,Hybrid,47,2,None,Depression,Unsatisfied,None,Good,Europe
1,EMP0002,Female,40,Data Scientist,IT,3,Remote,52,1,None,Anxiety,Satisfied,None,Good,Asia
2,EMP0003,Non-binary,59,Software Engineer,Education,22,Hybrid,46,5,None,Anxiety,Unsatisfied,None,Poor,North America
3,EMP0004,Male,27,Software Engineer,Finance,20,Onsite,32,4,None,Depression,Unsatisfied,None,Poor,Europe
4,EMP0005,Male,49,Sales,Consulting,32,Onsite,35,2,None,NaN,Unsatisfied,None,Average,North America

In [33]:
MHRemoteReduced.count()

Employee_ID                      5000
Gender                           5000
Age                              5000
Job_Role                         5000
Industry                         5000
Years_of_Experience              5000
Work_Location                    5000
Hours_Worked_Per_Week            5000
Work_Life_Balance_Rating         5000
Stress_Level                        0
Mental_Health_Condition          3804
Satisfaction_with_Remote_Work    5000
Physical_Activity                   0
Sleep_Quality                    5000
Region                           5000
dtype: int64

In [45]:
print(MHRemoteReduced.groupby(['Region']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000029D44985640>

In [ ]:
#pseudocode_DR:  group by region, then by work location, counting the employee ID for number of instances
#pseudocode_DR:  Chart bar graph with each bar representing the work locations, grouped by region, y-axis is instances, with a high of 350

In [ ]:
#pseudocode_DR:  work location counting the employee ID for number of instances, then average social isolation rating
#pseudocode_DR:  Chart bar graph with each work location showing two bars, one for number of instances, and one showing the average social isolation rating

In [ ]:
#pseudocode_DR: group by mental health condition, then by work loaction counting employee id for instances of each
#pseudocode_DR: see pivot table on guide spreadsheet for guidance.